<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226951702192-v6aq5dtdih4smj4qngrvsvecru70mk99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226951702192-v6aq5dtdih4smj4qngrvsvecru70mk99</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>226951702192-m5cqv6hklnqjcbna9ghccqaohdqj244h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7J7UQPrnSQvDCpB8g6s8-OBF3t1XShd4</string>
	<key>GCM_SENDER_ID</key>
	<string>226951702192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webkong.xeu</string>
	<key>PROJECT_ID</key>
	<string>xeubaby-eb919</string>
	<key>STORAGE_BUCKET</key>
	<string>xeubaby-eb919.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226951702192:ios:8ddcc23b93cb7e1d443d75</string>
	<key>DATABASE_URL</key>
	<string>https://xeubaby-eb919.firebaseio.com</string>
</dict>
</plist>